@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00072d">
    <title>@ViewData["Title"] - Emergency Fire Recall</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=block" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>


</head>
<body>
    <div class="d-flex flex-no-wrap" id="wrapper" style="overflow-x: hidden; ">
        <div class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark col-2" style="z-index: 10;" id="sidebar">
            <a asp-controller="Tickets" asp-action="Index" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <img src="~/img/cclogo.png" alt="Emergency Fire Recall" class="img-fluid logo"/></a>
                  <h1 class="h3 text-center">Emergency Fire Recall</h1>
            <hr>
            @if ((await AuthorizationService.AuthorizeAsync(User, "AllUsers")).Succeeded)
            {
                <div class="welcome text-center">
                    <span class="fs-6">Current User:</span><br /><strong class="fs-5">@User.FindFirst("FirstName").Value @User.FindFirst("LastName").Value</strong>
                </div>
                <hr />
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a class="nav-link text-white @Html.ActiveClass("Home") d-flex flex-row align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="material-symbols-rounded me-2">
                                send
                            </span>
                            <span>Send Message</span>                     </a>
                    </li>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                    <li class="nav-item">
                            <a class="nav-link text-white @Html.ActiveClass("FireGroups") d-flex flex-row align-items-center" aria-current="page" asp-area="" asp-controller="FireGroups" asp-action="Index">
                                <span class="material-symbols-rounded me-2">
                                    groups
                                </span>
                             <span>Manage Groups</span>
                        </a>
                    </li>
                        <li>
                            <a class="nav-link text-white @Html.ActiveClass("Recipients") d-flex flex-row align-items-center" asp-area="" asp-controller="Recipients" asp-action="Index">
                                <span class="material-symbols-rounded me-2">
                                    contact_phone
                                </span>
                                <span>Manage Recipients</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white @Html.ActiveClass("PhoneProviders") d-flex flex-row align-items-center" asp-area="" asp-controller="PhoneProviders" asp-action="Index">
                                <span class="material-symbols-rounded me-2">
                                    phone_in_talk
                                </span>
                                <span>Manage Phone Providers</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white @Html.ActiveClass("MessageTypes") d-flex flex-row align-items-center" asp-area="" asp-controller="MessageTypes" asp-action="Index">
                                <span class="material-symbols-rounded me-2">
                                    home_storage
                                </span>
                                <span>Manage Message Types</span>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white @Html.ActiveClass("MessageHistories") d-flex flex-row align-items-center" asp-area="" asp-controller="MessageHistories" asp-action="Index">
                                <span class="material-symbols-rounded me-2">
                                    history
                                </span>
                                <span>View Message History</span>
                                
                            </a>
                        </li>
                    }

                </ul>

                
            }
            else
            {
                <div class="welcome">
                    <strong>Access Denied</strong>

                    
                </div>
                <hr />
            }
        </div>
        <div class="container">
            <main role="main" class="pb-3 pt-3">
                @if (bool.Parse(Configuration["TestMode"]))
                {
                    <div class="alert alert-primary d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                        <div> This website is currently in a testing mode and is not intended for production use. Please be aware that any information or actions taken on this site may not be saved or have any real-world impact. Thank you for your understanding.</div>
                </div>
                    
                }
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>