@model IEnumerable<ElmiraFireRecall.Models.FireRecipient>

@{
    ViewData["Title"] = "Manage Recipients";
    ViewData["IsIndex"] = true;
}

<partial name="_PageHeaderPartial" />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Groups</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) 
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
                <small>(@Html.DisplayFor(modelItem => item.PhoneProvider.Name))</small>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach(var group in item.FireGroups)
                {
                    <li>@group.Title</li>        
                }
            </td>

                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
